.footer {
  max-width: 1920px;
  margin: 0 auto;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__top {
  margin-bottom: 102px;
  display: flex;
  column-gap: 50px;
}

.footer__copyright {
    width: 100%;
    padding: 16px 0;
    
    text-align: center;
    border-top: 1px solid var(--grey);
    color: var(--dark-grey);
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 32px;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 32px;
}

.contacts__item > span {
  display: block;

  font-size: 18px;
  line-height: 29.7px;
  text-align: right;

  color: var(--dark-grey);
}

.contacts__name {
  font-weight: 700;
}

.about {
  max-width: 543px;
  padding: 0 42px 97px;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-left: 1px solid var(--grey);
  border-right: 1px solid var(--grey);
}

.about__text {
  margin-top: 23px;

  font-size: 18px;
  line-height: 29.77px;
  text-align: center;

  color: var(--dark-grey);
}

.about__links {
  margin-top: 49px;
  display: flex;
  column-gap: 15px;
}

.utilities__list {
  margin-top: 24px;
}

.utilities__item > a {
  font-size: 18px;
  line-height: 49.12px;

  color: var(--dark-grey);
}
